.node circle {
    fill: #6699cc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    fill: #474747;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
