body{
    background-color: #e0d7bd;
}

svg {
    position: absolute;
    left: 10px; /* Adjust based on the width of the side-panel */
    height: 8000%;
    width: 100%;
    background-color: rgb(238, 233, 219);
}

.fade {
    background-color: rgb(156, 177, 197);
}

#linkmodelabel{
    position: absolute;
    left: 50%;
    font-size:20px;
    z-index:2;
}

.hidden{
    display:none;
}

.node circle {
    fill: #6699cc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
    pointer-events: all;
    cursor: pointer;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px; /* Adjust as needed */
    height: 100%;
    background-color: #e0d7bd;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    z-index: 2;
}

/* Style for the content inside the side panel */
.side-panel h2 {
    margin-top: 0;
}

.side-panel p {
    margin-bottom: 0;
}

/* Ensure the parent text and link button align horizontally */
#birthingParentContainer,
#secondParentContainer {
    display: flex;
    align-items: center;
    gap: 5px; /* Optional: Adds a gap between text and button */
}

#birthingParent,
#secondParent {
    white-space: nowrap;
}

#birthingParentContainer button,
#secondParentContainer button {
    cursor: pointer;
}
